body {
  align-items: center;
  text-align: center;
}

.slider {
  margin: 50px;
  margin: 50px;
  display: flex;
  flex-direction: row;
}

.image-box img {
  width: 250px;
  height: 275px;
}

.btn {
  border: none;
  outline: none;
  background-color: #888;
  padding: 10px 20px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin-top: 125px;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  height: 45px;
  font-family: Non-seasonal Geo;
}

.btn:hover {
  background-color: #111;
}

.slider-container {
  display: flex;
  flex-direction: column;
  column-gap: 51px;
  align-items: center;
}

.otherBtn {
  outline: none;
  background-color: rgb(116, 98, 98);
  padding: 10px 10px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin-top: 125px;
  margin-left: 20px;
  margin-right: 50px;
  height: 45px;
  font-family: Non-seasonal Geo;
}

.otherBtn:hover {
  background-color: #111;
}
