body {
  align-items: center;
  text-align: center;
}

.slider {
  margin: 50px; 
  display: flex;
  flex-direction: row;
}

.image-box img {
  width: 200px;
  height: 200px;
}

.btn {
  border: none;
  outline: none;
  background-color: #888;
  padding: 10px 20px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin: 10px auto;
}

.btn:hover {
  background-color: #111;
}

.slider-container {
  margin: 50px; 
  display: flex;
  flex-direction: column;
}
