body {
  align-items: center;
  text-align: center;
}

.slider {
  margin: 50px;
  display: flex;
  flex-direction: row;
}

.image-box img {
  width: 200px;
  height: 200px;
}

.btn {
  border: none;
  outline: none;
  background-color: #888;
  padding: 10px 20px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin: 20px;
  height: 45px;
}

.btn:hover {
  background-color: #111;
}

.slider-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 51px;
  align-items: center;
}

.otherBtn {
  outline: none;
  background-color: rgb(116, 98, 98);
  padding: 10px 10px;
  font-size: 15px;
  color: #ddd;
  cursor: pointer;
  margin: 20px;
  height: 45px;
}

.otherBtn:hover {
  background-color: #111;
}
